/* Делаем так, чтобы <mark style=""> работал */
.markdown-preview-view mark {
  background-color: var(--text-highlight-bg);
  color: var(--text-highlight-fg);
}

.markdown-preview-view mark[style] {
  all: unset; /* сбрасываем дефолт Obsidian */
  padding: 0.1em 0.2em;
  border-radius: 3px;
}
